/* styles/CreateProfile.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.localH1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.localForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.localTextarea {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  padding: 10px;
  font-size: 1rem;
}

.localButton {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
}
